<%= form_for @job, html: {class: "smart-form"} do |f| %>
    <header>
      Standard Form Header
    </header>

    <fieldset>
      
      <section>
        <%= f.label :name, class: 'label' %>
        <label class="input">
          <%= f.text_field :name, class: 'input-xs' %>
        </label>
      </section>

       <section>
        <%= f.label :address, class: 'label' %>
        <label class="input">
          <%= f.text_field :address, class: 'input-xs' %>
        </label>
      </section>

      <section>
        <%= f.label :city, class: 'label' %>
        <label class="input">
          <%= f.text_field :city, class: 'input-xs' %>
        </label>
      </section>
                      
    <section>
        <%= f.label :zip, class: 'label' %>
        <label class="input">
          <%= f.text_field :zip, class: 'input-xs' %>
        </label>
      </section>

    
    </fieldset>
    
    <footer>
    <%= f.submit "Save", class: 'btn btn-primary' %>
      <button type="button" class="btn btn-default" onclick="window.history.back();">
        Back
      </button>
    </footer>
  <% end %>