<%= simple_form_for [company, contact] do |f| %>
  <%= f.input :f_name, label: "First Name", input_html: { class: 'form-control' } %>
  <%= f.input :l_name, label: "Last Name", input_html: { class: 'form-control' } %>
  <%= f.input :title, input_html: { class: 'form-control' } %>
  <%= f.association :company_department, input_html: { class: 'form-control' } %>
  <%= f.input :address, input_html: { class: 'form-control', :"data-auto" => company.address } %>
  <label class="checkbox">
    <input type="checkbox" id="magic-checkbox"> Same as Company Address
  </label>
  <%= f.input :city, input_html: { class: 'form-control', :"data-auto" => company.city } %>
  <%= f.association :state, input_html: { class: 'form-control', :"data-auto" => company.state.name } %>
  <%= f.input :zip, input_html: { class: 'form-control', :"data-auto" => company.zip } %>
  <%= f.input :mobile_phone, input_html: { class: 'form-control' } %>
  <%= f.input :alt_phone, input_html: { class: 'form-control' } %>
  <%= f.input :notes, input_html: { class: 'form-control' } %>
  <%= f.submit "Save Contact" %>
<% end %>

<script>
  $(document).ready(function(){
    $("#magic-checkbox").click(function(){
      $("#contact_address").attr('value', $("#contact_address").data("auto")),
      $("#contact_city").attr('value', $("#contact_city").data("auto")),
      $("#contact_state_id option").attr('selected', $("#contact_state_id").data("auto")),
      $("#contact_zip").attr('value', $("#contact_zip").data("auto"))
    })
  });
</script>