
<div class="well no-padding">
    <form action="index.html" id="login-form" class="smart-form client-form">
      <header>
        Sign In
      </header>

      <fieldset>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <section>
          <%= f.label :email, class: 'label' %>
          <label class="input"> <i class="icon-append fa fa-user"></i>
            <%= f.email_field :email, autofocus: true %>
            <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter email address/username</b></label>
        </section>

        <section>
          <%= f.label :password, class: 'label' %>
          <label class="input"> <i class="icon-append fa fa-lock"></i>
            <%= f.password_field :password, autocomplete: "off" %>
            <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b> </label>
          <div class="note">
            <a href="forgotpassword.html">Forgot password?</a>
          </div>
        </section>

        <section>
          <% if devise_mapping.rememberable? -%>
          <label class="checkbox">
            <%= f.check_box :remember_me %>
            <i></i>Stay signed in</label>
            <% end %>
        </section>
      </fieldset>
      <footer>
        <%= f.submit "Sign in", class: 'btn btn-primary' %>
          Sign in
        </button>
        <% end %>
      </footer>
    </form>

  </div>

<%= render "devise/shared/links" %>
