var rowTemplate = "<tr><td><%= @daily.date %></td><td><%= @daily.am_temp %></td><td><%= @daily.pm_temp %></td><td><%= @daily.weather_desc %></td><td><%= @daily.notes %></td><td></td</tr>"

$(".new-log").prepend(rowTemplate);