<!DOCTYPE html>
<html>
<head>
  <title>GAL</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="fixed-ribbon fixed-header fixed-width">


<% if current_user %>
<%= render partial: 'layouts/header' %>
<%= render partial: 'layouts/sidebar' %>
<%= render partial: 'layouts/ribbon' %>
<% end %>

    <!-- MAIN PANEL -->
    

      <!-- MAIN CONTENT -->
      <div id="content">
        <% if flash[:notice] %>
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:notice] %>
          </div>
        <% elsif flash[:error] %>
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:error] %>
          </div>
        <% elsif flash[:alert] %>
          <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:alert] %>
          </div>
        <% end %>

   
<%= yield %>

<!-- End Content -->


    <!-- END SHORTCUT AREA -->

    <!--================================================== -->

    <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
    <script data-pace-options='{ "restartOnRequestAfter": true }' src="/assets/smartadmin/pace.min.js"></script>

    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script>
      if (!window.jQuery) {
        document.write('<script src="js/libs/jquery-2.0.2.min.js"><\/script>');
      }
    </script>

    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script>
      if (!window.jQuery.ui) {
        document.write('<script src="js/libs/jquery-ui-1.10.3.min.js"><\/script>');
      }
    </script>

    <!-- JS TOUCH : include this plugin for mobile drag / drop touch events
    <script src="js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->

    <!-- BOOTSTRAP JS -->
    <script src="/assets/smartadmin/bootstrap.min.js"></script>

    <!-- CUSTOM NOTIFICATION -->
    <script src="/assets/smartadmin/SmartNotification.min.js"></script>

    <!-- JARVIS WIDGETS -->
    <script src="/assets/smartadmin/jarvis.widget.min.js"></script>

    <!-- EASY PIE CHARTS -->
    <script src="/assets/smartadmin/jquery.easy-pie-chart.min.js"></script>

    <!-- SPARKLINES -->
    <script src="/assets/smartadmin/jquery.sparkline.min.js"></script>

    <!-- JQUERY VALIDATE -->
    <script src="/assets/smartadmin/jquery.validate.min.js"></script>

    <!-- JQUERY MASKED INPUT -->
    <script src="/assets/smartadmin/jquery.maskedinput.min.js"></script>

    <!-- JQUERY SELECT2 INPUT -->
    <script src="/assets/smartadmin/select2.min.js"></script>

    <!-- JQUERY UI + Bootstrap Slider -->
    <script src="/assets/smartadmin/bootstrap-slider.min.js"></script>

    <!-- browser msie issue fix -->
    <script src="/assets/smartadmin/jquery.mb.browser.min.js"></script>

    <!-- FastClick: For mobile devices -->
    <script src="/assets/smartadmin/fastclick.js"></script>

    <!--[if IE 7]>

    <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

    <![endif]-->

    <!-- Demo purpose only -->
    <script src="/assets/smartadmin/demo.js"></script>

    <!-- MAIN APP JS FILE -->
    <script src="/assets/smartadmin/app.js"></script>

    <!-- PAGE RELATED PLUGIN(S) 
    <script src="..."></script>-->

    

    <script type="text/javascript">
    
    // DO NOT REMOVE : GLOBAL FUNCTIONS!
    
    $(document).ready(function() {
      
      pageSetUp();
    
    })

    </script>

    <!-- Your GOOGLE ANALYTICS CODE Below -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
        _gaq.push(['_trackPageview']);
      
      (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();

    </script>   
    <%= yield :javascript %>
</body>
</html>
